Philip-Playground/EZPlatformer-master/.actionScriptProperties
Philip-Playground/EZPlatformer-master/.project
Philip-Playground/EZPlatformer-master/bin-debug/EZPlatformer.swf
scrap* # allison's note format
